// used by _root.scss
@import url(https://fonts.googleapis.com/css?family=Google+Sans|Karla|Roboto);

$base-transition-time: 0.3ms;

$min-font-size: 0.9em;
$max-font-size: 1.4em;

$base-line-height: 1.5;
$header-line-height: 1.25;

$base-form-border-radius: 5px;
$base-radius: 5px;

$base-fonts: 'Google Sans',sans-serif;

$small-font-size: 0.8em;


