.header-image {
    /* IE10+ */
background-image: -ms-radial-gradient(right bottom, ellipse farthest-corner, rgba(17,109,209,1) 0%, rgba(72,168,140,1) 100%);

/* Mozilla Firefox */
background-image: -moz-radial-gradient(right bottom, ellipse farthest-corner, rgba(17,109,209,1) 0%, rgba(72,168,140,1) 100%);

/* Opera */
background-image: -o-radial-gradient(right bottom, ellipse farthest-corner, rgba(17,109,209,1) 0%, rgba(72,168,140,1) 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(radial, right bottom, 0, right bottom, 572, color-stop(0, rgba(17,109,209,1)), color-stop(100, rgba(72,168,140,1)));

/* Webkit (Chrome 11+) */
background-image: -webkit-radial-gradient(right bottom, ellipse farthest-corner, rgba(17,109,209,1) 0%, rgba(72,168,140,1) 100%);

/* W3C Markup */
background-image: radial-gradient(ellipse farthest-corner at right bottom, rgba(17,109,209,1) 0%, rgba(72,168,140,1) 100%);
}

.gawesome-gradiant {
    background: linear-gradient(45deg, rgba(156,51,255,1) 0%, rgba(156,51,255,1) 4%, rgba(103,76,212,1) 31%, rgba(56,99,173,1) 55%, rgba(0,128,128,1) 84%);
}

.rounded-2 {
    border-radius: 6px !important;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.width-full {
    width: 100% !important;
}


.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}


/* CSS For bulma's new navbar items */
a.is-tab {
    color:rgba(74, 74, 74, 0.8);
}
a.is-tab:hover {
    border-bottom:1px solid #00d1b2;
    color:#484848;
    border-top:1px solid transparent;
    padding:calc(0.60rem - 1px) 1rem;
    border-bottom-color:#00d1b2;
    border-top-color:transparent;
}
a.is-tab.is-active {
    border-bottom:2px solid #00d1b2;
    color:#00d1b2;
    padding-bottom:calc(0.60rem - 2px);
}
