.header-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 51, 51, 0.80)), url('/static/assets/hero.jpg');
}

.gawesome-gradiant {
    background: linear-gradient(45deg, rgba(156,51,255,1) 0%, rgba(156,51,255,1) 4%, rgba(103,76,212,1) 31%, rgba(56,99,173,1) 55%, rgba(0,128,128,1) 84%);
}

.rounded-2 {
    border-radius: 6px !important;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.width-full {
    width: 100% !important;
}


.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}
