.bg-dark {
    background-color: $dark;
}

.bg-black {
    background-color: black;
}

.primary {
    color: $primary;
}

.white {
    color: $white;
}

.whitesmoke {
    color: $whitesmoke;
}

.bg-terminal {
    background-color: #3e3e3e;
}

.facebook-color {
    color: rgb(59, 89, 152);
}

.twitter-color {
    color: rgb(29, 161, 242);
}

.discord-color {
    color: rgb(114,137,218);
}

.github-color-blue {
    color: #4078c0;
}
