.bg-dark {
    background-color: $dark;
}

.bg-black {
    background-color: black;
}

.primary {
    color: $primary;
}

.white {
    color: $white;
}

.whitesmoke {
    color: $whitesmoke;
}

.bg-terminal {
    background-color: #3e3e3e;
}
