input,
textarea{
    border-radius: 5px;
}

hr.hr-1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1056px;
    margin-top: 50px;
}

.vertical-padding-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.blue-2 {
    color: #0070fa;
}

.bg-blue-2 {
    background-color: #0070fa;
}

.m-right-auto {
    margin-right: auto;
}

.m-left-auto {
    margin-left: auto;
}

.m-auto {
    margin: auto;
}

.hero-header-m {
    margin-top: 4rem;
    maring-bottom: 1rem;
}

.z-index-50 {
    z-index: 50;
}
