input,
textarea{
    border-radius: 5px;
}

hr.hr-1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1056px;
    margin-top: 50px;
}

.vertical-padding-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.blue-2 {
    color: #0070fa;
}

.bg-blue-2 {
    background-color: #0070fa;
}

.m-right-auto {
    margin-right: auto;
}

.m-left-auto {
    margin-left: auto;
}

.m-auto {
    margin: auto;
}

.hero-header-m {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.z-index-50 {
    z-index: 50;
}

.full-width {
    width: 100%;
}

.has-text-success {
    color: hsl(141, 71%, 48%);
}

.has-text-danger {
    color: hsl(348, 100%, 61%);
}

.font-1 {
    font-size: 1rem;
}

.font-2 {
    font-size: 2rem;
}

.font-3 {
    font-size: 3rem;
}

.font-4 {
    font-size: 4rem;
}

.font-5 {
    font-size: 5rem;
}

.contact-fa-padding {
    padding: 10px;
}

.m-bottom-auto {
    margin-bottom: auto;
}

.m-top-auto {
    margin-top: auto;
}

.m-left-auto {
    margin-left: auto;
}

.m-right-auto {
    margin-right: auto;
}

.m-top-1 {
    margin-top: 1rem;
}

.height-3 {
    max-height: 3rem;
    height: 3rem;
}

.fa-discord {
    padding-top: 2px;
}
