.arrow {
  box-sizing: border-box;
  margin: auto;
  height: 40px;
  width: 40px;
  border-style: solid;
  border-color: white;
  border-width: 0px 2px 2px 0px;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 5px;
  border-right-width: 5px;
}
