.grid {
    display: grid;
    .grid-item {
        margin: auto;
    }
}

.grid-t-shape {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    gird-row-gap: 10px;
    grid-template-areas:
        "hero hero"
        "contact social";
}

.grid-contact-head {
    grid-area: hero;
}

.grid-contact-contact {
    grid-area: contact;
}

.grid-contact-social {
    grid-area: social;
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 756px) {
    .grid-t-shape {
      grid-template-rows: 1fr 2fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
          "hero"
          "contact"
          "social";
    }
}
