html,
body,
section,
p,
a,
ol,
ul,
li,
textarea,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    font-size: 16px;
    --webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

html {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: inherit;
}

header,
footer,
section,
article {
    display: block;
}

p,
div,
body,
input,
select,
article,
textarea{
    font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

body {
    color: $white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: $white;
}

a:hover {
    color: $whitesmoke;
}

.title {
    font-weight: 600;
}

.hero-title {
    font-weight: 600;
    &.center {
        text-align: center;
    }
}

.subtitle {
    &.center {
        text-align: center;
    }
}

@media screen and (min-width: 769px) {
  .title {
      font-size: 1.5rem;
  }

  .hero-title {
      font-size: 3rem;
  }

  .subtitle {
      font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .title {
      font-size: 1.2rem;
  }

  .hero-title {
      font-size: 2rem;
  }

  .subtitle {
      font-size: 1rem;
  }
}

@media screen and (min-width: 1096px) {
  .title {
      font-size: 2rem;
  }

  .hero-title {
      font-size: 3rem;
  }

  .subtitle {
      font-size: 1rem;
  }
}

.font-2 {
    font-size: 1.5rem;
}
