//$primary: #3273dc;
$primary: #0070fa;
$dark: #131313;
$background: #131313;
$white: #f5f5f5;
$whitesmoke: #cecece;
$invert-background: $white;

@import 'scroll';
@import 'colors';
@import 'base';
@import 'text';
@import 'vuetyper';
@import 'auth';
@import 'graphs';
@import 'components';
@import 'navbar';
@import 'footer';
@import 'elements';
@import 'responsivenes';
