.github-cards {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: minmax(20px, auto);

    justify-items: center;

    .github-card {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        border-style: solid;
        border-color: #333333;
        border-width: 2px;
        border-radius: 10px;
        background: #080808;
        margin: 0.5em;
        display: flex;
        max-width: 15em;
        min-width: 15em;
        min-height: 11em;
        max-height: 11em;
        padding: 0.5em;
        flex-flow: column;
        .gh-head {
            margin-left: 3px;
            margin-right: 3px;
            .gh-org-repo {
                color: #b1b1b1;
            }
            .gh-name {
                word-wrap: break-word;
                font-weight: 500;
                color: #bbbbbb;
                font-size: 1.03em;
            }
        }

        .gh-body {
            margin-left: 3px;
            margin-right: 3px;
            color: #9e9e9e;
            flex-grow: 1;
            .gh-description {
                word-wrap: break-word;
                max-width: inherit;
                display: -webkit-box;
                overflow : hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;

            }

        }

        .gh-footer {
            margin-left: 3px;
            margin-right: 3px;
            display: flex;
            .gh-stars {
                display: flex;
            }

            .gh-language {
                width: 100%;
                text-align: right;
                .gh-circle {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    display: inline-block;
                }

            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .github-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1100px) {
    .github-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .github-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}