$nav-background: rgba(13, 13, 13, 0.91);
$desktop-width: 1056px;
$text: #f5f5f5;
$htext: #cecece;
$atext: #0070fa;
$background: black;
$l-container: 987px;
$n-item-padding: 0.6rem;

.navbar {
    background-color: $nav-background;
    z-index: 999;
    width: 100%;
    display: flex;
    &.fixed {
        position: fixed;
        max-width: inherit;
    }
    > .l-container {
        width: 100%;
        max-width: $l-container;
    }
    .nav-item {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: flex-start;
        padding: $n-item-padding;
        color: $text;
        &:hover {
            color: $htext;
        }
        &.active, &.active:hover {
            color: $atext;
        }
        &.dropdown {
            .nav-link {
                padding-right: 1rem;
            }
            .nav-dropdown {
                display: none;
                &:hover {
                    display: flex;
                }
                top: 100%;
                right: 0;
                padding: 5px;
                border-radius: 0 0 5px 5px;
                flex-flow: column;
                .drop-item {
                    min-height: 25px;
                    font-size: 0.9rem;
                    padding: 0.2rem;
                    color: $text;
                    &:hover {
                        color: $htext;
                    }
                    &.active:hover,
                    &.active {
                        color: $atext;
                    }
                }
            }
        }
    }
    .nav-brand {
        display: flex;
        .nav-burger {
            display: none;
            padding: $n-item-padding;
            width: 40px;
            margin-left: auto;
        }
        .nav-burger span {
            background-color: $text;
            display: block;
            height: 1px;
            position: relative;
            width: 16px;
            margin: auto;
            transition: all 200ms ease-in-out;
            &:first-child {
                top: calc(50% - 6px);
            }
            &:nth-child(2) {
                top: calc(50% - 1px);
            }
            &:nth-child(3) {
                top: calc(50% + 4px);
            }
        }
        .nav-burger.active span  {
            &:first-child {
                transform: translateY(6.7px) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(-5px) rotate(-45deg);
            }
        }
    }
    .nav-menu {
        display: flex;
        flex-grow: 1;
        .nav-start, .nav-end {
            display: flex;
        }
    }
    @media screen and (min-width: $desktop-width) {
        .l-container {
            display: flex;
        }
        .nav-menu {
            .nav-end {
                margin-left: auto;
            }
            .nav-item {
                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0%;
                    content: '.';
                    color: transparent;
                    background: #aaa;
                    height: 1px;
                }
                &:hover:after {
                    transition: width 500ms;
                    width: 100%;
                }
                &.active::after {
                    transition: width 500ms, height 200ms;
                    width: 100%;
                    background: $atext;
                    height: 2px;
                }
                &.dropdown {
                    .nav-dropdown {
                        position: absolute;
                        background-color: $nav-background;
                        box-shadow: 0 1rem 3rem -1rem hsla(0,0%,53%,.12);
                    }
                    .nav-link::after {
                        border: 3px solid transparent;
                        border-color: $text;
                        border-radius: 2px;
                        border-right: 0;
                        border-top: 0;
                        content: " ";
                        display: block;
                        margin-top: -0.82rem;
                        right: 0.8rem;
                        pointer-events: none;
                        position: absolute;
                        width: 0.4rem;
                        height: 0.4rem;
                        transform: rotate(-45deg);
                        transform-origin: center;
                    }
                }
            }
            .nav-item.dropdown:hover {
                .nav-dropdown {
                    display: flex !important;
                }
            }
        }
    }
    @media screen and (max-width: $desktop-width) {
        .nav-brand {
            .nav-burger {
                display: block !important;
            }
        }
        .nav-menu {
            display: none !important;
            flex-flow: column;
            &.active {
                display: flex !important;
            }
            .nav-start, .nav-end {
                flex-flow: column;
            }
            .nav-item {
                padding: 0.3rem 0.6rem;
            }
            .nav-item.dropdown {
                flex-flow: column;
                align-items: flex-start;
                .nav-dropdown {
                    display: flex !important;
                    position: relative;
                }
            }
        }
    }
}

@media screen and (max-width: $desktop-width) {
    .navbar {
        flex-flow: column;
    }
}
