.table {
    border-collapse: collapse;
    border-spacing: 0;
    &.is-fullwidth {
        width: 100%;
    }
}

tr {
    text-align: left;
    height: 40px;
}

thead tr {
    border-width: 0 0 1px;
}

tr {
    border: 1px solid #c7c7c726;
    border-width: 0 0 1px;
    padding: .5rem .75rem;
    verical-align: top;
}

th {
    padding: 0 0.6rem;
}

tbody tr th {
    font-weight: 400;
}

tbody tr:last-child {
    border-width: 0;
}

@media screen and (max-width: 1023px) {
    .is-hidden-touch {
        display: none;
    }
}
