body::-webkit-scrollbar {
    width: 9px;
}

body::-webkit-scrollbar-track {
	background-color: whitesmoke;
}

body::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
}

.navbar { position: fixed !important; top: 0; left: 0; right: 0; z-index: 1}
