.container-mod {
  padding-bottom: 100px;
  padding-top: 100px;
}

.base-image-container {
  display: flex;
  margin: auto;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}

.image-container input {
  position: absolute;
  margin: 0;
  padding: 0;
  outline: none;
  opacity: 0;
}

.img-input {
  display: block;
  padding: 5rem 2rem;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}

.img-upload {
  display: block;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
}

.img-upload:hover {
  background-color: #022b56;
}

.img-input:hover {
  background-color: #1786e6;
}

.gallery-container {
  display: flex;
  width: 400px;
  padding-top: 30px;
/*  flex-direction: column; */
  flex-wrap: wrap;
  padding-bottom: 30px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.gallery-item {
  max-width: 60px;
  max-height: 50px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 485px) {
    .base-image-container {
        width: 200px;
    }
    .img-input {
        padding: 2rem 0.3rem;
    }
    .img-upload {
        padding: 0.5rem 0.5rem;
    }
    .gallery-container {
        width: 200px
    }
}
