.navbar {
    position: sticky !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #24292e;
}

/* #0C66A1 */
.navbar-item.is-tab {
    color: whitesmoke;
}

.navbar.has-shadow {
    box-shadow: 0 2px 3px hsla(0,0%,4%,.1);
}

.navbar-item.is-tab:hover, .navbar-item.is-tab.is-active {
    color: white;
    border-bottom-color: white;
}

a.navbar-item.is-active, a.navbar-item:hover, a.navbar-item {
    background-color: #24292e;
    color: white;
    border-bottom-color: white;
}

.navbar-burger span, .navbar-burger.is-active span {
    background-color: whitesmoke;
}

.navbar-burger:hover {
    background-color: #24292e;
}

@media screen and (max-width: 1087px) {
    .navbar-menu {
        background-color: #24292e;
    }
    .navbar-item.is-tab.is-active, .navbar-item.is-tab:hover {
        border-bottom-color: #24292e;
    }
    .navbar-item.is-tab {
        min-height: 0;
    }
}


.navbar-item.has-dropdown,
.navbar-item.has-dropdown.is-hoverable:hover,
.navbar-item.has-dropdown:hover,
.navbar-link,
.navbar-item.has-dropdown:hover .navbar-link,
.navbar-item.has-dropdown:hover {
    background-color: #24292e;
    color: whitesmoke;
}

.navbar-dropdown {
    background-color: #24292e;
    color: whitesmoke;
}

.navbar-dropdown a.navbar-item.is-active,
.navbar-dropdown a.navbar-item:hover,
.navbar-dropdown a.navbar-item {
    background-color: #24292e;
    color: whitesmoke;
}

a.navbar-item,
a.navbar-item:hover {
    background-color: #24292e;
    color: whitesmoke;
}

a.navbar-item.is-active {
    background-color: #24292e;
    color:whitesmoke;
}

@media screen and (min-width: 1088px) {
    .navbar-item.has-dropdown {
        padding-left: 0.6em;
    }
}
