.status-container {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1000px;
}

.table-mod-2 {
/*box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 3px 3px 3px hsla(0, 0%, 21%, 0.53);
  box-shadow: 0px 1px 3px rgba(54,54,54,.53), 0px -1px 3px rgba(54,54,54,.53); */
  box-shadow: 0px 0px 14px 2px rgba(60, 60, 60, 0.53);
  border-radius: 5px;
  overflow: hidden;
}

.status-item {
  display: flex;
  padding: 5px;
}

.status-start {
  flex: 1;
  padding: 5px;
}

.status-end {
  padding: 5px;
}
