.status-container {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1000px;
}

.table-mod-2 {
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  border-radius: 5px;
  overflow: hidden;
}

.status-item {
  display: flex;
  padding: 5px;
}

.status-start {
  flex: 1;
  padding: 5px;
}

.status-end {
  padding: 5px;
}
