<!DOCTYPE html>
<html>
    <head>
        <%- include ../layout/head %>
        <title>404 Chill not found - Arturo's Website</title>
    </head>
    <body>
        <header>
            <%- include ../layout/header %>
        </header>
        <%- include ../layout/errorhero %>
        <footer>
            <%- include ../layout/footer %>
        </footer>
    </body>
</html>


