<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
            <strong><a href="/">ArturoNet.com</a><strong> powered by Hitler and ISIS. JK NOT TRUE</strong>. Made by <a href="https://www.dixionary.com">TheOfficialDixionary</a>
            </p>
            <p>
            <a class="icon" href="https://github.com/ArturoGuerra/arturonet">
                <i class="fa fa-github"></i>
            </a>
            </p>
        </div>
    </div>
</footer>
