.nav-dopdown {
    position: //shit
    top: 100%;
    right: 0;
    opacity: // shit
    border-radius: 0 0 5px 5px;
    .drop-item {
        color: $nav-text !important;
        &:hover {
            color: $nav-htext !important;
        }
        &.active:hover,
        &.active {
            color: $nav-atext !important;
        }
    }
}

.nav-dropdown-opacity {
    opacity: // shit

@mixin nav-dropdown() {
    &.dropdown {
        .dropdown-link {
            padding-right: 1em;
        }
        .dropdown-menu {
            display: flex;
            padding: 0.1em;
            flex-direction: column;
            min-width: 100%;
            .drop-item {
                min-height: 1.2em;
                font-size: 0.8em;
                padding: 0.2em;
                color: $text;
                &:hover {
                    color: $htext;
                }
                &.active:hover,
                &.active {
                    color: $atext;
                }
            }
        }
    }
}

@mixin nav-burger() {
}

.navbar {
    background-color: $nav-background;
    width: 100%;
    display: flex;

    .container,
    .small-container {
        display: inherit;
    }

    &.fixed {
        position: fixed;
    }

    .nav-item {
        color: $nav-text;
        display: flex;
        padding: 0.5em;

        &.active:hover,
        &:hover {
            color: $nav-atext;
        }

        &:hover {
            color: $nav-htext;
        }
        @include nav-dropdown();
    }

    .nav-brand {
    }

    .nav-menu {
    }
}
