<!DOCTYPE html>
<html>
    <head>
        <%- include ../layout/head %>
        <link rel='stylesheet'  href='/static/css/animate.css'></link>
        <title>Projects - Arturo's Website</title>
    </head>
    <body>
        <header>
            <%- include ../layout/header %>
        </header>
        <%- include ../layout/hero %>
        <section class="hero">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title is-2"><strong>My GitHub Projects</h1>
                </div>
            </div>
        </section>
        <section class="hero has-text-centered">
            <div id='spin' class="container">
               <div style="margin: auto;" class="spinner"></div>
               <br>
            </div>
            <div style="display:none;" id="projectcontainer" class="container has-text-centered">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Language</th>
                            <th class="is-hidden-touch">Forks</th>
                            <th class="is-hidden-touch">Forked</th>
                        </tr>
                    </thead>
                    <tbody id="projectstable">
                    </tbody>
                </table>
            </div>
        </section>
        <script src="/static/scripts/projects.js"></script>
        <footer>
            <%- include ../layout/footer %>
        </footer>
    </body>
</html>
