<!DOCTYPE HTML>
<html>
    <head>
        <%= include ../layout/head %>
        <title>Social - Arturo's Website</title>
    </head>
    <body>
        <header>
            <%= include ../layout/header %>
        </header>
        <%= include ../layout/hero %>
        <% block('herocontent', '\
        <h1 class="title">Social Media</h1> \
        <h2 class="subtitle">DISCORD</h2> \
        <h3>#HEILHITLER</h3>') %>
        <section class="section">
                <div class="hero-body">
                    <div class="container is-fluid has-text-centered">
                        <h1 class="title">My social media</h1>
                        <h2 class="subtitle">Go stalk me in the links below</h2>
                        <hr>
                        <div class="columns">
                            <div class="column is-hidden-touch">
                                <div><a href="https://inwite.dixionary.com"><h1 class="title"><strong>Dixionary Dixord</strong></h1></a></div>
                                <br>
                                <iframe src="https://discordapp.com/widget?id=203164299458379776&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
                            </div>
                            <div class="column is-hidden-touch">
                                <div><a href="https://discord.gg/ssl"><h1 class="title"><strong>SSL Community</strong></h1></a></div>
                                <br>
                                <iframe src="https://discordapp.com/widget?id=194533269180514305&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
                            </div>
                            <div class="column">
                                <div><a href="https://twitter.com/Ar2roGuerra"><h1 class="title"><strong>Tvitter</strong></h1></a></div>
                                <br>
                                <a class="twitter-timeline" data-width="350" data-height="500" data-theme="dark" href="https://twitter.com/Ar2roGuerra">Tweets by Ar2roGuerra</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <footer>
            <%= include ../layout/footer %>
        </footer>
    </body>
</html>

