$psudo-selectors: (before, after);

@mixin color($name, $color) {
    .#{$name}-bg {
        background-color: $color;
    }
    .#{$name} {
        color: $color;
    }

    .#{$name}-h:hover {
        color: $color;
    }

    .#{$name}-br {
        border-color: $color;
    }
    .#{$name}-br-bottom {
        border-bottom-color: $color;
    }
    .#{$name}-br-top {
        border-top-color: $color;
    }

    @each $item in $psudo-selectors {
        .#{$name}-br-#{$item}::#{$item} {
            border-color: $color;
        }
        .#{$name}-br-bottom-#{$item}::#{$item} {
            border-bottom-color: $color;
        }
        .#{$name}-br-top-#{$item}::#{$item} {
            border-top-color: $color;
        }
    }
}

$colors: (
    ($primary:),
    ($primary-v:),
    ($secondary:),
    ($secondary-v:),
    ($aditional:),
    ($aditional-v:),
    ($background:),
    ($background-v:),
    ($text:),
    ($atext:),
    ($htext:),
    ($nav-text:),
    ($nav-atext:),
    ($nav-htext:),
    ($nav-background:)
)

@each $color in $colors {
    @include color(nth($color, 1), nth($color, 2))
}
