{% extends 'base.html' %}
{% block head %}
<meta charset="utf-8">
<title>404 Madarchod</title>
<link rel="stylesheet" href="/static/css/bulma.css">
<link rel="stylesheet" href="/static/css/hero.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/webicon.png') }}", size="10x10">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
{% endblock %}

{% block herocontent %}
<h1 class="title">404 CHILL NOT FOUND</h1>
<h2 class="subtitle">RIP Daddy Dev fucked up</h2>
<h3><strike>#MakeAmericaGreatAgain</strike></h3>
{% endblock %}
