<footer class="tabs is-boxed is-centered">
    <div class="container">
        <ul>
            <li>
                <a href="https://discord.gg/ssl">
                    <span>SSL</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/ArturoGuerra">
                    <span>GitHub</span>
                </a>
            </li>
            <li>
                <a href="/404">
                    <span>Dixionary</span>
                </a>
            </li>
            <li>
                <a href="inwite.dixionary.com">
                    <span>Dixionary Serwer</span>
                </a>
            </li>
        </ul>
    </div>
</footer>
