<nav class="navbar">
    <div class="navbar-brand">
        <span class="navbar-item">
            <img src="static/webicon.png" style="border-radius: 60%; display: block; height: auto; width: auto;">
            <strong>&nbsp; Arturo Guerra</strong>
        </span>
        <div class="navbar-burger is-active" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>
    <div class="navbar-menu" id="navMenu">
        <div id="NavBarDesktop" class="navbar-item navbar-end">
            <div class="tabs">
                <ul>
                    <li id="navtab-home">
                        <a href="/">
                            <span class='icon is-small'><i class="fa fa-home"></i></span>
                            <span>Home</span>
                        </a>
                    </li>
                    <li id="navtab-social">
                        <a href="{{url_for('social')}}">
                            <span>Social</span>
                        </a>
                    </li>
                    <li id="navtab-projects">
                        <a href="{{url_for('projects')}}">
                            <span>Projects</span>
                        </a>
                    </li>
                </ul>
            </div>
         </div>
        <script src="{{url_for('static', filename='scripts/page.js')}}"></script>
    </div>
</nav>
