{% extends 'base.html' %}
{% set active_page = 'projects' %}
{% block ogtitle %}Github and other projects for Arturo Guerra{% endblock %}
{% block ogdescription %}This are all the projects arturo is working on{% endblock %}
{% block title %}Dank Projects{% endblock %}
{% block bodytitle %}Projects{% endblock %}
{% block bodysubtitle %}Bots bots and more bots{% endblock %}
{% block bodyother %}#IHAVEYOURTOKEN{% endblock %}
{% block body %}
<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-2"><strong>My GitHub Projects</h1>
        </div>
    </div>
</section>
<section class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Language</th>
                <th class="is-hidden-touch">Forks</th>
                <th class="is-hidden-touch">Forked</th>
            </th>
        </thead>
        <tbody>
            {% for repo in repos %}
            <tr>
                <th><a href="{{ repo.url }}">{{ repo.name }}</a></th>
                <th>{{ repo.language }}</th>
                <th class="is-hidden-touch">{{ repo.forks }}</th>
                <th class="is-hidden-touch">{{ repo.forked }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
