{% extends 'base.html' %}
{% set active_page = 'projects' %}
{% block ogtitle %}Github and other projects for Arturo Guerra{% endblock %}
{% block ogdescription %}This are all the projects arturo is working on{% endblock %}
{% block title %}Dank Projects{% endblock %}
{% block bodytitle %}Projects{% endblock %}
{% block bodysubtitle %}Bots bots and more bots{% endblock %}
{% block bodyother %}#IHAVEYOURTOKEN{% endblock %}
{% block body %}
<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p>Coming soon..</p>
        </div>
    </div>
</section>
{% endblock %}
