<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta propery="og:title" content="Social Media page for arturonet.com">
        <meta propery="og:type" content="website">
        <meta propery="og:image" content="{{ url_for('static', filename='webicon.png') }}">
        <meta propery="og:description" content="Social media related to Arturo Guerra">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Daddy Social Media</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/hero.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/webicon.png') }}", size="10x10">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    </head>
    <body>
        {% include 'herohead.html' %}
        <section class="hero is-dark is-large header-image">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">
                        Social Media
                    </h1>
                    <h2 class="subtitle">
                        DISCORD
                    </h2>
                    <h3>#HEILHITLER<h3>
                </div>
            </div>
            <div class="hero-foot">
                {% include 'herofoot.html' %}
            </div>
        </section>
        <section class="section">
            <div class="hero is-primary is-medium">
                <div class="hero-body">
                    <div class="container is-fluid has-text-centered">
                        <strong>Social Media and embeds</strong>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <footer>{% include 'footer.html' %}</footer>
</html>
