<nav class="navbar has-shadow">
    <div class="navbar-brand">
        <a href="/" class="navbar-item">
            <img src="/static/assets/webicon.png" style="border-radius: 60%; display: block; height: auto; width: auto;">
            <strong>&nbsp Arturo Guerra</strong>
        </a>
        <div class="navbar-burger burger" data-target="navbar-items">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>
    <div class="navbar-menu" id="navbar-items">
        <div class="navbar-end">
            <% navbar_items.forEach(function(navitem) { %>
            <a id="<%= navitem.id %>" href="<%= navitem.href %>" class="navbar-item is-tab">
                <span><%= navitem.content %></span>
            </a>
            <% }) %>
         </div>
    </div>
    <script src="static/scripts/burger.js"></script>
</nav>
